body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #212121;
  height: 100vh;
  color: white;
}

#box{
  width: 400px;
  height: 200px;
  border: 1px solid #cccc;
}
